$-pupil: #ad1fea;
$-blue: #4661e6;
$dark-ff: #373f68;
$-white: #f2f4ff;
$-light-white: #f7f8fd;
$dark-blue: #3a4374;
$dark-grey: #647196;
$light-orange: #f49f85;
$-lightt-blue: #62bcfa;
$-dv-white: #ffffff;
$-ugly-color: #cfd7ff;
